{{#light-table table height='65vh' as |t|}}

  {{t.head fixed=true}}

  {{#t.body as |body|}}
    {{!-- {{#body.expanded-row as |row|}}
      Hello <b>{{row.firstName}}</b>
    {{/body.expanded-row}} --}}

    {{#if (and isLoading communityArea)}}
      {{#body.loader}}
        <h1>Loading...</h1>
      {{/body.loader}}

      {{else if table.isEmpty}}
        {{#body.no-data}}
          <h3>Click a neighborhood on the map to see individual reports!</h3>
        {{/body.no-data}}
    {{/if}}


  {{/t.body}}

  {{!-- {{t.foot}} --}}

{{/light-table}}
